/* ========================================
 * Custom Widget Badges
 * ======================================== */

.elementor-panel .elementor-element .icon {
	position: relative;
}

.elementor-panel .elementor-element .icon i[class*="-badge"]::after {
	content: attr(data-badge-text);
	position: absolute;
	top: 3px;
	right: 3px;
	padding: 2px 3px;
	font-family: var(--e-a-font-family);
	font-size: 10px;
	color: var(--e-a-color-txt);
	background: transparent;
	border: var(--e-a-border-bold);
	border-radius: 3px;
	transition: var(--e-a-transition-hover);
}

.elementor-panel .elementor-element:active .icon i[class*="-badge"]::after {
	color: var(--e-a-color-txt-accent);
	background-color: var(--e-a-bg-hover);
	border-color: var(--e-a-border-color-accent);
}