/* Dev Debug Styles for AOS and Parallax */

[data-aos]::before {
	content: 'aos: ' attr(data-aos-delay);
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
	height: auto;
	padding: 2px 6px;
	font-size: 11px;
	font-weight: 700;
	color: white;
	pointer-events: none;
	background: rgba(255, 0, 0, 0.8);
	z-index: 9999;
}

[data-element-parallax]::before {
	content: 'parallax';
	position: absolute;
	top: 0;
	left: 0;
	width: auto;
	height: auto;
	padding: 2px 6px;
	font-size: 11px;
	font-weight: 700;
	color: white;
	pointer-events: none;
	background: rgba(0, 128, 0, 0.8);
	z-index: 9999;
}

[data-aos][data-element-parallax]::before {
	content: 'aos: ' attr(data-aos-delay) ' + parallax';
	color: black;
	pointer-events: none;
	background: rgba(0, 255, 255, 0.8);
}
