.elementor-motion-parallax {
	position: relative;
}

.elementor-motion-parallax .elementor-motion-effects-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}