.elementor-motion-parallax {
	position: relative;
}

.elementor-motion-parallax .elementor-motion-effects-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

.elementor-motion-parallax .elementor-motion-effects-layer {
	position: absolute;
	top: -25%;
	left: 0;
	width: 100%;
	height: 150%;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: 50% 50%;
	background-size: cover;
}

@-moz-document url-prefix() {
	.elementor-motion-parallax .elementor-motion-effects-layer {
		top: 0;
	}
}